<div id="<%= dom_id operation %>">
  <p>
    <strong>Author:</strong>
    <%= operation.author %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= operation.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= operation.amount %>
  </p>

</div>