<p style="color: green"><%= notice %></p>

<h1>Operations</h1>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
  <% end %>
</div>

<%= link_to "New operation", new_group_operation_path(@group) %>
